@model Blog.Web.Models.ArticleModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/blog.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <div class="leftcolumn">
            @for (int i = 0; i < Model.Articles.Count; i++)
            {
                <div class="card">
                    <h2>@Model.Articles[i].Title</h2>
                    <h5>Posted on @Model.Articles[i].PostedOn</h5>
                    @Html.ActionLink("Edit", "Edit", new { id = @Model.Articles[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = @Model.Articles[i].Id })
                    <p>@Model.Articles[i].Description</p>
                </div>
            }
        </div>
    </div>

</body>
</html>